@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals */
:root {
  --phone-w: 375px;
}
.phone {
  max-width: var(--phone-w);
  margin: 0 auto;
}
.card {
  @apply bg-white rounded-xl px-4 py-3 shadow-sm border border-gray-100;
}
